html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    width: 100vw;
    height: 85vh;
    display: grid;
    background-image: url("../images/texture_mars.jpg");
    background-size: cover;
    background-position: center;
}

#container-footer {
    width: 100vw;
    height: 15vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
    background-image: url("../images/dark_space.jpg");
    background-size: cover;
    background-position: center;
}

#view-panel {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 5px;
}

#input-commands {
    text-align: center;
    width: 300px;
    height: 20px;
}

.button {
    background: none;
    border: none;
    cursor: pointer;
}

#view-panel img {
    width: 25px;
    height: auto;
}

#controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#controls img {
    width: 40px;
    height: auto;
    cursor: pointer;
}

.cell {
    border: 1px solid rgba(255, 255, 255, 0.1); /* opcional para ver la cuadrícula */
    display: flex;
    align-items: center;
    justify-content: center;
}

#rover,
.rocks {
    height: auto;
    justify-self: center;
    align-self: center;
}

#rover {
    width: 95%;
}

.rocks {
    width: 50%;
}

#modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#coordinate-modal {
    background: white;
    padding: 10px;
    margin: 100px auto;
    width: 200px;
    border-radius: 5px;
}

.input-row {
    display: flex; /* hace que label e input estén en fila */
    justify-content: center; /* opcional, alinea al inicio */
    align-items: center; /* alinea verticalmente el input con el label */
    margin-bottom: 10px; /* espacio entre filas */
}

.title-row {
    text-align: center;
    margin-bottom: 10px; /* espacio entre filas */
}

.input-row label {
    width: 50px; /* ancho fijo para que todos los labels se alineen */
}

#posX-txt,
#posY-txt {
    width: 40px;
}
